<div class="container">

    <div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4"><%= @article.title %></h1>
        <% if @article.categories.any? %>
            <div class="mt-2"><%= render @article.categories %></div> 
          <% end %>

        <!-- Author -->
        <p class="lead">
          by
          <%= link_to @article.user.username, user_path(@article.user) if @article.user %>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Created <%= time_ago_in_words(@article.created_at) %> ago | Edited <%= time_ago_in_words(@article.updated_at) %> ago</p>

        <hr>

        <!-- Preview Image -->
        <%= image_tag(@article.image.url, class:"img-responsive")%>

        <hr>

        <!-- Post Content -->
        

        <%= simple_format(@article.description) %>
        <% if logged_in? && (@article.user == current_user || current_user.admin?) %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
            <%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
        <% end %>
        
        <hr>

        <!-- Comments Form -->
        <%= render partial: 'comments/form' %>

        <!-- Single Comment -->
        <% if @article.comments.any? %>
          <% @comments.each do |comment| %>
          <div class="media mb-4">
            <div class="media-body">
              <h5 class="mt-0"><%= comment.author_name %></h5>
              <%= comment.body %>
              <br>
              <% if current_user.username == comment.author_name || current_user.admin? %>
                <br>
                <%= link_to "Delete", comment_path(comment), class: "btn btn-outline-danger", method: :delete, data: { confirm: "Are you sure?" } %>
              <% end %>
              </div>
              <small>Commented <%= time_ago_in_words(comment.created_at) %> ago</small>
              
              <br>
          </div>
          <hr>
          <% end %>
        <% end %>

        <!-- Comment with nested comments -->
        

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        
        

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">New Articles</h5>
          <div class="card-body">
            <% count = 0 %>
            <% @articlenew.each do |article| %>
              <% count = count+1 %>
              <% break if count>3 %>
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title"><%= article.title %></h5>
                <h6 class="card-subtitle mb-2 text-muted"><small>Created <%= time_ago_in_words(article.created_at) %> ago</small></h6>
                <p class="card-text"><%= truncate(article.description, length: 150) %></p>
                <a href="#" class="card-link"><%= link_to "Read More", article_path(article) %></a>
                </div>
              </div>
              <br>
            <% end %>
            <%= link_to 'View all Articles', articles_path,  class:"btn btn-primary"  %> 
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>